<div class="eb_header row-fluid">
	<div class="span4 offset3">
	    <div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
    			<a class="brand" href="#"><img class="logo pull-left" src="img/youchews_logo_FA_outlines.png" alt="YouChew"></a>
    			<ul class="nav">
    				<li><a href="#">Home</a></li>
    				<li class="divider-vertical"></li>
    				<li class="active"><a href="#">Order</a></li>
    				<li class="divider-vertical"></li>
    				<li><a href="#">Who we are</a></li>
    				<li class="divider-vertical"></li>
    				<li><a href="#">Contact us</a></li>
    			</ul>
    		</div>
    	</div>
	</div>
</div>